.homepage{
    background-image: url('../../../images/img-3.jpg');

    .backgroundVideo{
        display: grid;        
        width: 100vw;
        border-radius: 8px;
        margin-top: 5vh;
    }

    .content{
        margin-top: 70vh;
    }
}

@media screen and (max-width: 700px){
    .homepage{
        .content{
        margin-top: 13vh;
    }
}
}